{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Contact Us</h1>
    <p class="content">If you have any questions, feedback, or need assistance, feel free to reach out.</p>
    <form action="/submit_contact" method="POST" class="box">
      <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" id="name" required />
        </div>
      </div>
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" id="email" required />
        </div>
      </div>
      <div class="field">
        <label class="label" for="message">Message</label>
        <div class="control">
          <textarea class="textarea" name="message" id="message" rows="4" required></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
